h1{
    position: absolute;
    left: 364px;
    right: 365px;
    top: 39px;
    bottom: 888px;

    font-family: $font-1;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;
}

