.home{
    display:grid;
    grid-template-areas:". . . ."
                        "b c c ."
                        "b c c ."
                        ". . . a";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.nav-bar{
    grid-area: b;
}
.display-fly{
    grid-area: c;
}
add-fly{
    grid-area: a;
}
