.Navbar{
    position: absolute;
    width: 156px;
    height: 318px;
    left: 15px;
    top: 182px;
    background: #FFFFFF;
    display: grid;
    justify-content: center;
    gap: 4px;
    align-content: center;
    grid-auto-flow: row;
    font-size: 5rem;
  }

