.ctn-SearchBar{ 
    grid-column-start: 2;
    border-radius:1rem ;
    
    
    input{
        width: 800px;
        height: 60px;
        font-family: $font-1;
        font-size:45px ;
        border-radius: 1rem;
       
    }
    ::placeholder{
        font-family: $font-1;
        text-align: center;
        opacity:0.8; 
    }
}
