input{
    position: relative;
    width: 858px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 5px;
    ::placeholder{
        position: absolute;
        width: 450px;
        height: 80px;
        left: 0px;
        top: 0px;

        background: #FFFFFF;
    }
}
    