.maquette-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border: solid;
    border-radius: 45px;
    height: 671px;
    width: 1159px;
    box-shadow: 20px 40px 40px black;
}

.form-input {
    margin-top: 23px;
    margin-left: 100px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-image-title {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
}
.label-picture{
    height: 230px;
}

.label-select-paint {
    fond-size: 20px
}

.form-content-input {
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: space-around;
    margin-left: 16px;
}
.btn-content {
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-around;
    align-items: flex-end;
}

.btn-green {
    box-shadow: 20px 40px 40px #1B5E20;
}
.btn-blue {
    box-shadow: 20px 40px 40px #1565C0;
}